<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
    </startup>
    <connectionStrings>
        <!-- El Instalador reescribe esta cadena con la instancia elegida. -->
        <add name="IngSoft"
             connectionString="Server=.;Database=IngSoftValdezAlegre;Integrated Security=true"
             providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>
